#Introduction to Python Programming 
exercise1

Quiz: readable_timedelta
Write a function named readable_timedelta. The function should take one argument, an integer days, and return a string that says how many weeks and days that is. For example, calling the function and printing the result like this:

We assume you know about functions in python :)
if not, don't worry. check out this video : https://www.youtube.com/watch?v=u-OmVr_fT4s

In [ ]:
#quiz:
    
def readable_timedelta(days):
    # use integer division to get the number of weeks
    weeks = ?
    # use % to get the number of days that remain
    remainder = ?
    return "{} week(s) and {} day(s).".format(weeks, remainder)

# test your function
print(readable_timedelta(10))

In [ ]:
#quiz:

#Write a Python function to sum all the numbers in a list and return it as total.
quiz_list = [8, 2, 3, 0, 7]

In [ ]:
#answer

def sum(numbers):
    ?
    ?
    ?
    return total

In [ ]:
quiz_list = [8, 2, 3, 0, 7]
print(sum(quiz_list))

#pyhton for data analyses
pandas packages,

In [3]:
import pandas as pd

what is pandas?
https://pandas.pydata.org/pandas-docs/stable/getting_started/install.html
https://librarycarpentry.org/lc-python-intro/06-libraries/index.html
https://www.youtube.com/watch?v=e60ItwlZTKM

In [4]:
#df stands for dataframe
#the following, reads the csv file and put it in a dataframe
df = pd.read_csv('exercise_file.csv')

In [ ]:
#print the head of the dataframe

?

In [ ]:
#print the tail of the dataframe
?

In [ ]:
#print all the columns of the dataframe
?

In [ ]:
#the first item at 'SEK_IN_SNACKS'
df['SEK_IN_SNACKS'][0]

In [ ]:
#what does the following line return?
?
type(df['SEK_IN_SNACKS'][1])

In [ ]:
df['traffic_source_level_1'][10]

In [ ]:
#we can also choose only a few columns of a dataframe: choose the head of 'country_id','traffic_source_level_1','SEK_IN_DRINKS'
df[[?,?,?]].head()

quiz :

Get the sum of SEK_IN_SNACKS group by countries and 'traffic_source_level_1'
Get the countries, and then channels and then the sum of kycs

In [ ]:
?

In [ ]:
#group by country and then return an average of values in each column with numeric data
df.groupby([?]).mean()

In [ ]:
##group by country and then return an sum of values only in SEK_IN_FOOD
df.groupby([?])[?].?()

In [ ]:
df.groupby(['country_id','traffic_source_level_1' ])['SEK_IN_SNACKS'].sum()

now, same exercise with SEK_IN_FOOD.
1) Let's play with the type of the items inside SEK_IN_FOOD and change them from float to string
2) Let's make sure there is no "," in our numbers. sometimes, some numbers are written as 234,098 instead of 234.098
3) So we just replace any "," with "." to be sure that the data is clean

In [ ]:
df['SEK_IN_FOOD'][0]

In [ ]:
df['SEK_IN_FOOD'] = df['SEK_IN_FOOD'].astype(str)

In [ ]:
type(df['SEK_IN_FOOD'][0])

In [ ]:
df['SEK_IN_FOOD'][0].replace(",", ".")

In [ ]:
#what is the length of column SEK_IN_FOOD
??(df['SEK_IN_FOOD'])

we replaced one of the elements, but we need to change the whole dataset.
let's be more fancy, instead of a for loop we will use list Comprehension

what is list comprehension? https://www.youtube.com/watch?v=5K08WcjGV6c

In [ ]:
df['SEK_IN_FOOD'] = [df['SEK_IN_FOOD'][i].??(",", ".") for i in range(len(df['SEK_IN_FOOD']))]

In [ ]:
#pandas.Series.astype

In [ ]:
df['SEK_IN_FOOD'] = df['SEK_IN_FOOD'].astype(float)

In [ ]:
type(df['SEK_IN_FOOD'][0])

We can also group the data as we want and forexample calculate the total sum of SEK-IN-FOOD grouped by let's say countries.
This type of grouping is very common in the life of data-analysts

In [7]:
df[['country_id','SEK_IN_FOOD']].groupby(['country_id'])['SEK_IN_FOOD'].sum()

country_id
BR    139369.00
DE     56398.24
DK     18965.22
ES     10936.12
FI     36548.77
FR     74156.75
GB    312238.12
IT      5193.91
MX    232383.91
NL     75197.10
NO     48723.18
SE     53004.51
Name: SEK_IN_FOOD, dtype: float64

In [8]:
df[['country_id','timestamp_month','traffic_source_level_1','SEK_IN_FOOD']].groupby(['country_id','traffic_source_level_1' ])['SEK_IN_FOOD'].sum()

country_id  traffic_source_level_1
BR          direct                      2776.00
            online                    117953.00
            partnerships               18640.00
DE          direct                      2865.69
            online                     52866.42
            partnerships                 666.13
DK          direct                       422.16
            online                     18471.00
            partnerships                  72.06
ES          direct                       113.00
            online                     10492.12
            partnerships                 331.00
FI          direct                       323.73
            online                     36133.32
            partnerships                  91.72
FR          direct                      1165.65
            online                     71696.35
            partnerships                1294.75
GB          direct                      4437.21
            online                    304162.60
            partnerships                3638.31
IT          direct                       161.00
            online                      4825.91
            partnerships                 207.00
MX          direct                     10829.06
            online                    184724.98
            partnerships               36829.87
NL          direct                      1589.09
            online                     72446.92
            partnerships                1161.09
NO          direct                       448.73
            online                     47189.39
            partnerships                1085.06
SE          direct                      1110.03
            online                     51708.76
            partnerships                 185.72
Name: SEK_IN_FOOD, dtype: float64

Question: do you know what is the type of a grouped-by dataframe? 
it is a series. Not anymore a dataframe but a series :)

In [5]:
x = df[['country_id','timestamp_month','traffic_source_level_1','SEK_IN_FOOD']].groupby(['country_id','traffic_source_level_1' ])['SEK_IN_FOOD'].sum()

In [10]:
type(x)

pandas.core.series.Series

In [11]:
df_sum = df[['country_id','timestamp_month','traffic_source_level_1','SEK_IN_FOOD','SEK_IN_SNACKS']].groupby(['country_id','traffic_source_level_1' ])['SEK_IN_FOOD','SEK_IN_SNACKS'].sum()

We also can create a completely new column and add it to the table.
In the following exercise we learn how to create a new column , for example for ratios

In [12]:
#let's create a a new column and calculate the ratio of food over snacks :'just for the sake of practice'
df_sum['food_snacks_rate'] = df_sum['SEK_IN_FOOD']/df_sum['SEK_IN_SNACKS']

In [14]:
#check it out :)
df_sum.head()

                                   SEK_IN_FOOD  SEK_IN_SNACKS  \
country_id traffic_source_level_1
BR         direct                      2776.00    1556.656190
           online                    117953.00   17402.825960
           partnerships               18640.00    9703.091926
DE         direct                      2865.69    2032.695374
           online                     52866.42   14323.325837

                                   food_snacks_rate
country_id traffic_source_level_1
BR         direct                          1.783310
           online                          6.777807
           partnerships                    1.921037
DE         direct                          1.409798
           online                          3.690932

In [ ]:
#Now, let's create a a new column and calculate something of your own choice. Be creative
?